* {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    @include background-image($img, center center, $img-bgcolor);

    @include font-set($font-color, $font-family, $font-size, normal, normal);

    height: 100%;
    width: 100%;
}

