// ---------------------------------------------------------------------------
// Basic typography style.
// ---------------------------------------------------------------------------

body {
    font-family: $text-font-stack;
}

h1 {
    font-weight: 500;
    font-size: 64px;
}