.wrapper {
    @include properties(border, 1px dashed #666);
    @include padding(1em);

    @include when-have(div) {
        position: relative;
        border: 6px solid $white;
        @include border-radius(10px);
        @include padding(.85em);
        vertical-align: middle;
        height: 250px;
        width: 350px; 
        margin: auto;
    }
}

.flex-container {
    @include inner-position-center-col;

    @include flex-container-center-col;
}

@media screen and (min-width: 992px) {
    .flex-container {
        @include inner-position-center-row;

        @include flex-container-center-row;
    }
}


@keyframes animacija-rotiranje {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes animacija-Y {
    0% {
        transform: translateY(-80vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes animacija-X {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

.flex-item {
    font-size: 82px;
    font-weight: 900;
    color: $white;
    text-align: center;

    // @include animation-rotate(animacija-rotiranje, 1.5s, ease_in-out, 0);
    @include animation-line(animacija-X, 1.5s, linear, 0);
}

@media screen and (min-width: 992px) {
    .flex-item {
        @include animation-line(animacija-Y, 1.5s, linear, 0);
    }
}

@for $i from 1 through 3 {
    .flex-item:nth-of-type(#{$i}) {
        background-color: nth($rectangle-colors, $i);
        animation-delay: 1.5s * ($i - 1) * 2;
    }
}