@mixin bg-color($color) {
    background-color: $color;
}

@mixin border-radius($r: 8px) {
    border-radius: $r;
}

@mixin properties($property, $values...) {
    #{$property}: $values;
}

@mixin padding($padding...) {
    padding: $padding;
}

@mixin background-image($img, $background-position, $background-color) {
    background-image: url('#{$path--rel}/#{$img}');
    background-repeat: no-repeat;
    background-position: $background-position;
    background-color: $background-color;
    background-attachment: fixed;
}

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}

@mixin when-inside($context) {
    #{$context} & {
        @content;
    }
}

@mixin when-have($context) {
    & #{$context} {
        @content;
    }
}

@mixin flex-container-center-row {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: row;
}

@mixin flex-container-center-col {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

@mixin animation-rotate($name, $duration, $timing-function, $delay) {
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timing-function;
    animation-delay: $delay;
}

@mixin animation-line($name, $duration, $timing-function, $delay) {
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timing-function;
    animation-delay: $delay;
    animation-fill-mode: backwards;
}

@mixin font-set($color, $family, $size, $style, $weight) {
    color: $color;
    font-family: $family;
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
}

@mixin inner-position-center-row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    height: 300px;
    max-width: none;
    max-height: calc(100% - 40px);
}

@mixin inner-position-center-col {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 40px);
    width: 500px;
    max-width: calc(100% - 40px);
    max-height: none;
}