//------------------------------------------------------------
// This file contains all app-wide Sass variables
//------------------------------------------------------------

// ---------------------------------------------------------------------------
// FONTS
// ---------------------------------------------------------------------------

$text-font-stack: 'Work Sans',
sans-serif;


//------------------------------------------------------------
// PATHS
//------------------------------------------------------------
$path--rel : "../images";


// VARIABLES
$img: 'blur-clean.jpg';
$img-bgcolor: #ddd;

$font-color: #333;
$font-family: Arial,
Helvetica,
sans-serif;
$font-size: 16px;


//------------------------------------------------------------
// COLORS
//------------------------------------------------------------
$gray: #eee;
$blue: rgb(129, 129, 218);
$green: rgb(81, 139, 81);
$red: rgb(204, 136, 73);
$white: white;
$black: black;

$dark: #212b36;
$light: #f9fafb;

$primary: #485dc8;
$danger: #ed1c24;
$success: #219653;
$warning: #f2994a;


//------------------------------------------------------------
// ACCESSIBILITY
//------------------------------------------------------------

//  MAPS
$breakpoints: ('sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px);


// LISTS
$rectangle-colors: (rgba(65, 59, 59, .5),
    rgba(184, 91, 91, .5),
    rgba(223, 171, 128, 0.5));

$shadows: ('Elevation_1': 0px 4px 8px rgba(0, 0, 0, .08),
    'Elevation_2': 0px 8px 16px rgba(0, 0, 0, .12),
    'Elevation_3': 0px 16px 24px rgba(0, 0, 0, .16));

$base-url: '/assets/';
$font-url: 'fonts/';
$img-url: 'images/';